.aboutus-container {
    color: white;
}

.intro-main-card {
    max-width: 570px;
    background-color: #212529;
    margin-top: 20px;
    color: white;
}

.col-spacings {
    padding: 0%;
    align-items: center;
}
  
.card-item-img {
    margin-top: 8px;
    height: auto;
    max-height: 170px;
    width: auto;
    max-width: 170px;
    border-radius: 20px;
}

.text-div {
    max-width: 380px;
    max-height: 300px;
    text-align: start;
}

@media only screen and (min-width: 600px) {
    .intro-main-card {
        margin: 23px;
        margin-top: 0px;
    }
  }